@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.3);
    }
    28% {
        transform: scale(1);
    }
    42% {
        transform: scale(1.3);
    }
    70% {
        transform: scale(1);
    }
}

:root{
    --corPrimaria: #990b16;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans";
}

/* HEADER E FOOTER */

header, footer{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

header{
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
}

header img{
    width: 50px;
    height: 50px;
}

header a:hover {
    animation: heartBeat 1s infinite;
}

header a{
    text-decoration: none;
    color: var(--corPrimaria);
}

header ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

header li{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

header button{
    width: 100%;
    padding: 10px;
    border: 2px solid var(--corPrimaria);
    background-color: transparent;
    color: var(--corPrimaria);
    border-radius: 5px;
    font-weight: bold;
}

#loginButton{
    display: flex;
    margin-left: 70%;
}

footer{
    justify-content: center;
    margin-top: 105px;
}

button:hover {
    background-color: var(--corPrimaria);
    color: white;
}

/* BANNER E CARDAPIO */

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cliente{
    width: 100%;
}

#agrupamentoCartoes{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 35px 25%;
}

.cartao{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--corPrimaria);
}

#cartao1{
    background-image: url(../images/campagne-1.png);
}

#cartao2{
    background-image: url(../images/campagne-2.png);
}

#cartao3{
    background-image: url(../images/campagne-3.png);
}

#cartao4{
    background-image: url(../images/campagne-4.png);
}

#cartao5{
    background-image: url(../images/campagne-5.png);
}

#cartao6{
    background-image: url(../images/campagne-6.png);
}

h2{
    color: var(--corPrimaria);
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    padding: 20px;
}
